<!DOCTYPE html>
html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express Issue Tracker Update Error
    link(rel="stylesheet" href="/styling/style.css")


body    
    
    if updateData === "no-params"
        p No update parameters provided

    else if updateData === "no-id"
        p ID does not exit
    else
        p Update Error

    p  
        a(href="/") Back To Home