<!DOCTYPE html>
html(lang="en")


head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express Delete Thread
    link(rel="stylesheet" href="/styling/style.css")


body
    if threadDeleted
        p Thread is deleted
    else
        p Unable to delete the thread

    p  
        a(href="/") Back To Home