body {
  background-color: #222;
  color: #ddd;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 35px;
}

h2 {
  margin: 30px 0 10px 0;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.form-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  margin: 20px 20px 20px 20px;
}

.input-area {
  font-weight: bold;
}

label {
  margin: 100px 100px;
}
input {
  font-size: inherit;
  width: 230px;
  margin: auto;
  /* text-align: center; */
}

::-webkit-datetime-edit-text {
  text-align: center;
}

.submit-button {
  margin-top: 10px;
  font-size: 18px;
  -webkit-appearance: none;
}

li {
  margin: 20px 0 10px 0;
  font-weight: bold;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  font-weight: bold;
}

.author {
  font-weight: bold;
}
