<!DOCTYPE html>
html(lang="en")


head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express Delete All Stocks
    link(rel="stylesheet" href="/styling/style.css")


body
    if stockDeleted
        p All stocks data have been deleted from database 
    else
        p Unable to delete all stocks

    p  
        a(href="/") Back To Home