<!DOCTYPE html>
html(lang="en")

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express NASDAQ Checker
    link(rel="stylesheet" href="/styling/style.css")


body
    div(class="title")
        h1 MongoDB, Mongoose, Express & Pug NASDAQ Stock Checker
    
    div(class="project-details")
        h2 DETAILS
        li Uses Alpha Vantage stock API to get latest stock prices 
        li Returns information detailing a NASDAQ stock price and the number of likes
        li If two NASDAQ stocks are submitted prices and the difference between the likes of the two stocks is returned.
        li An IP address can't like the same stock more than once.
    
    h2 TRY IT OUT
    div(class="try-it-out")        
        div(class="try-sec submit-stock")
            form(id="submitStockForm" method="GET" action="/api/stock-prices")
                h3 Request Stock Price
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="stock") NASDAQ Stock Symbol: 
                            input(name="stock" id="updateSymbolOne" placeholder="ex. GOOG" required)                       

                    div(class="form-area form-area-two")
                        input(type="checkbox" name="like" value="true")
                        label(class="form-label" for="like") Like stock       
                    
               
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Request")
                

        div(class="try-sec update-stock")
            form(id="compareStocksForm" method="GET" action="/api/stock-prices")
                h3 Compare Stocks
                div(class="input-area")
                    div(class="form-area form-area-one")
                        p
                            label(class="form-label" for="stock") NASDAQ Stock Symbol: 
                            input(name="stock" id="updateSymbolTwo" placeholder="ex. GOOG" required) 
                                                

                    div(class="form-area form-area-two")
                         p
                            label(class="form-label" for="stock") NASDAQ Stock Symbol: 
                            input(name="stock" id="updateSymbolThree" placeholder="ex. AAPL" required) 
                    
                    div(class="form-area form-area-two")
                        input(type="checkbox" name="like" value="true")
                        label(class="form-label" for="like") Like both stock                
                                
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Compare")
                
        div(class="try-sec delete-book")
            form(id="deleteStockForm" method="POST" onsubmit="urlCreatorDel()")
                h3 Delete Stock in Database 
                div(class="input-area")
                    div(class="form-area form-area-one")
                        label(class="form-label" for="stockSymbol") NASDAQ Stock Symbol: 
                        input(name="stockSymbol" id="deleteStockSymbol" placeholder="ex. GOOG" required)

                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Delete")

            form(id="deleteAllBooks" method="POST" action="api/stocks/delete/allstocks?_method=DELETE")
                h3 Delete All Stocks in Database 
                div(class="submit-area")
                    input(class="submit-button" type="submit" value="Delete All")       

    div(class="stock-database")
        h2 STOCK LIKES COUNT (ALPHABETICALLY ARRANGED)
        
        each stock, index in stocksDocs
            div(class= 'stock-box')
                div
                    p <strong>#{stocksDocs[index].stock_symbol}</strong>: #{stocksDocs[index].stock_likes.length} 
               
                
                
    
script(src="/js/form.js")

