<!DOCTYPE html>
html(lang="en")


head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Mongo & Express Stock Delete
    link(rel="stylesheet" href="/styling/style.css")


body
    if stockDeleted
        p Stock is deleted
    else
        p Stock Symbol does not exist in database

    p  
        a(href="/") Back To Home